@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status,#number_of_objects {
    font-size: 18px;
}

canvas {
    box-shadow: 10px 10px 10px gray;
    border-radius: 15px;
    border: 5px double white;
    margin-top:30px;
}

.copy_right_footer {
    background: whitesmoke;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    justify-content: center;
    position: fixed;
    display:flex;
    line-height:3;
    height:100px;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}